body {
  padding-left: 40px;
  padding-right:40px;
  padding-top:70px;
  color: #5a5a5a;
  position:relative;
  margin: 10px;
}

.details .row{
	margin-top:20px;
	padding-top:40px;
	text-align: center;
}

.details h2 {
	font-weight: normal;
}

.details p {
	margin-left:10px;
	margin-right:10px;
}

.col-mg-4 {
	margin-bottom: 20px;
	text-align: center;
}
.userinformation{
	margin-top:20px;
	text-align: center;
	background-color: #0cd8ab;
}

.col-md-6 {
	margin-bottom: 20px;
	text-align: center;
}

.userinformation .row{
	margin-bottom:20px;
}

.survey,.about {
	margin: 20px;
	padding-top: 30px;
	text-align: center;
}

.panel-body span {
	color: red;
}

.survey .container-fluid {
	background-color: #0cd8ab;
}

#user {
	margin-bottom:10px;
}

.contactus {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid black;
	text-align: center;
	color: #0cd8ab;
}

.contactus a {
	text-decoration: none;
}

footer {
	margin-top: 20px;
	padding: 5px;
	text-align: center;
	background-color: #0cd8ab;
}